## Gathering Yelp API Data

In [2]:
import time
from yelpapi import YelpAPI
import argparse
from pprint import pprint
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
def api_looper(category, sortby):
    yelp_api = YelpAPI("x5Ll12lMph6vMttYZQsyHRV2tpOyBKeHvuAZgGiHDkL-1rpyYNW7WbUtPj_zxB73aRrp-bnL2ld6-ACNppd4HQE0ZwG1R2EQA6Y6sFQuo3kclfhQTsbJlq8KEu2uW3Yx")
    
    response = yelp_api.search_query(categories=category, location='seattle, wa', sort_by=sortby, limit=50)
    response2 = json_normalize(response, 'businesses')
    time.sleep(10)
    offset_number = 50
    for loop_number in range(0,19):
        yelp_api = YelpAPI("x5Ll12lMph6vMttYZQsyHRV2tpOyBKeHvuAZgGiHDkL-1rpyYNW7WbUtPj_zxB73aRrp-bnL2ld6-ACNppd4HQE0ZwG1R2EQA6Y6sFQuo3kclfhQTsbJlq8KEu2uW3Yx")
        response3 = yelp_api.search_query(categories=category, location='seattle, wa', sort_by=sortby, limit=50, offset=offset_number)
        offset_number += 50
        response4 = json_normalize(response3, 'businesses')
        print('normalized json')
        response2 = response2.append(response4)
        print('appended another 50 rows... total of ', offset_number, ' rows')
        time.sleep(10)
    response2 = response2.drop(['alias', 'distance', 'id', 'location', 'phone', 'transactions','url'], axis=1)
    response2 = response2.reset_index(drop=True)
    coordinates = pd.read_json((response2['coordinates']).to_json(),orient='index')
    df = pd.merge(response2, coordinates, left_index=True, right_index=True)
    df.drop('coordinates', axis=1)
    df = df[['name', 'categories', 'display_phone', 'image_url', 'price', 'rating', 'review_count', 'latitude', 'longitude', 'is_closed']]
    return response2

In [ ]:
coffee_rating = api_looper('coffee', 'rating')
coffee_review = api_looper('coffee', 'review_count')
cafe_rating = api_looper('cafes', 'rating')
cafe_review = api_looper('cafes', 'review_count')
concat_df = [coffee_rating, coffee_review, cafe_rating, cafe_review]
df4 = pd.concat(concat_df)
df4 = df4.drop_duplicates(df4.columns.difference(['categories', 'name']))
df4.to_csv('coffee_v4.csv')

In [122]:
df = pd.read_csv('coffee_v4.csv')
df.head(5)

,Unnamed: 0,name,categories,display_phone,image_url,price,rating,review_count,latitude,longitude,is_closed
0,0,Daddy's Donuts,coffee,(206) 496-3670,https://s3-media2.fl.yelpcdn.com/bphoto/5PerLg...,$,5.0,399,47.758040,-122.246160,False
1,1,Medzo Gelato Bar & Travel Cafe,coffee,(206) 935-4333,https://s3-media2.fl.yelpcdn.com/bphoto/YyhCI8...,$,5.0,76,47.466630,-122.346670,False
2,2,Celine Patisserie,coffee,(206) 466-5378,https://s3-media1.fl.yelpcdn.com/bphoto/m5-AFF...,$,5.0,123,47.678863,-122.355637,False
3,3,M Bakery & Deli,coffee,(253) 395-1068,https://s3-media4.fl.yelpcdn.com/bphoto/zBraJV...,$,5.0,147,47.411003,-122.227958,False
4,4,Monorail Espresso,coffee,(206) 422-0736,https://s3-media2.fl.yelpcdn.com/bphoto/NQgSin...,$,4.5,464,47.611237,-122.334991,False

I used the lat/lon fields to create a map in Tableau, but the background was ugly. I utilized the Mapbox functionality and designed a map in Mapbox to use as a background instead. Worked pretty well. While I was at it, downloaded some custom icons to use for coffee and cafe.

Preliminary Tableau data constructed, but really wanted a neighborhood field.

I tried two methods:

1) Using postal codes and a list of neighborhoods associated with postal codes. This was limited and didn't work well.

2) Find lat/long boundaries for each neighborhood. The most accurate source of this data were in shape files. These are geospatial data files. I used the QGIS software to load in the GIS data for King County Metro Neighborhoods (https://www.kingcounty.gov/services/gis/GISData.aspx) and also the cafe/coffee data using their lat/lon coordinates. I then did a spatial join, appending the neighborhood name to all points falling within the boundaries. I then exported this to a .csv and used it as my data source for Tableau.

<img src="gis_image.png">

<img src="tableau_image_1.png">